@charset UTF-8
@import url('bootstrap.css');
@import url('bootstrap.min.css');
@import url('bootstrap-responsive.css');
@import url('bootstrap-responsive.min.css');

a {
	text-decoration: underline;
}

nav {
	margin: 10px 0 0 5px;
}

.navbar {
	margin-bottom: 0;
}

.inline {
	display: inline;
}

.no-menu {
	padding: 0 10px;
}

.errors {
	color: red;
	font-size: 0.8em;
}

input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
{
    margin: 0;
}

input[type=submit].btn {
	margin-top: 10px;
}

label {
	margin-top: 9px;
	text-align: left;
}

#messages {
	margin: 10px 0 15px 0;
	text-align: center;
}

.button.link {
	font-size: 1em;
	background-color: transparent;
	border:none; 
	padding:0!important;
	text-decoration: underline;
	color: #fff;
}

.button.link:hover {
	color: #ffd979;
}

.form.screenplay {
	margin-bottom: 10px;
}

#backtolist {
	padding-left: 10px;
}

.submit {
	text-align: right;
	width: 220px;
}

.submit.notwidth {
	width: auto; 
}

label.checkbox.acl {
	display: inline;
	margin-right: 15px;
}

.radio.acl input[type="radio"], .checkbox.acl input[type="checkbox"] {
	float: none;
}

hr {
	clear: both;
	visibility: hidden;
}

h1, h2, h3 {
	text-align: center;
}

label.required:after { content: "*"; }